.header {
  height: 60px;
  width: 100%;
  position: relative;
}
.header__logo {
  height: 50%;
  margin: 0;
  padding: 0;
  margin-top: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__logo img {
  width: 88%;
}
.header__back {
  padding: 3px 20px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.back {
  border: none;
  background-color: white;
  scale: 250%;
  padding: 5px;
  margin-left: 10px;
}

.heartChange .heartBottom {
  opacity: 0;
  transition: opacity 1s;
}
.heartChange .heartBottom .fa-solid {
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heartChange .heartTop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  transition: opacity 2s;
}
.heartChange .heartTop .fa-sharp {
  display: block;
}

.heartChange:focus .heartBottom, .heartChange:hover .heartBottom, .heartChange:active .heartBottom {
  opacity: 1;
}

.heartChange:focus .heartTop, .heartChange:hover .heartTop, .heartChange:active .heartTop {
  opacity: 0;
}

body {
  margin: 0px;
}

img {
  width: 100%;
  height: auto;
}

* {
  font-family: "Roboto", Verdana, Tahoma, sans-serif;
}

.location {
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: lightgray;
  box-shadow: inset rgb(171, 171, 171) 0px 2px 3px 1px;
}
.location p {
  font-size: 15px;
  text-align: center;
}

.explore {
  background-color: rgb(231, 231, 231);
  text-align: center;
  padding-top: 1px;
  padding-bottom: 30px;
}
.explore p {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 25;
}
.explore button {
  color: white;
  border: none;
  padding: 10px;
  border-radius: 25px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
}

.howItWorks {
  margin: 5%;
}
.howItWorks button {
  margin-bottom: 20px;
  background-color: #F6F6F6;
  box-shadow: rgb(171, 171, 171) 5px 5px 5px 1px;
  width: 100%;
  height: 50px;
  border: none;
  padding: 10px;
  border-radius: 15px;
}
.howItWorks button span {
  position: absolute;
  left: 0;
  background-color: #9356DC;
  color: white;
  border-radius: 100%;
  width: 15px;
}
.howItWorks button i {
  margin-left: 20px;
  float: left;
}
.howItWorks button:hover {
  background-color: rgb(245, 237, 255);
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F6F6F6;
  padding-bottom: 50px;
}
.restaurants h1 {
  padding-top: 40px;
  margin: 5%;
}
.restaurants .item {
  background-color: white;
  margin: 5%;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}
.restaurants .item .New {
  position: absolute;
  top: 10px;
  right: 35px;
  background-color: #A9E0D0;
  color: #228263;
}
.restaurants .item h4 {
  margin-bottom: 0;
  margin-left: 15px;
}
.restaurants .item p {
  float: left;
  margin-top: 10px;
  margin-left: 15px;
}
.restaurants .item .heartChange {
  border: none;
  background-color: inherit;
  position: relative;
  font-size: 1.5rem;
  height: -moz-fit-content;
  height: fit-content;
}
.restaurants .item .fa-heart {
  float: right;
  margin-right: 15px;
}
.restaurants .item a {
  text-decoration: none;
  color: black;
}
.restaurants .item img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.background {
  position: absolute;
}

.box {
  margin-top: 250px;
  background-color: rgb(231, 231, 231);
  position: relative;
  border-radius: 35px 35px 0px 0px;
  padding-bottom: 5%;
}

.menu {
  margin: 5%;
}
.menu .heading {
  padding-top: 30px;
}
.menu h1 {
  font-size: 30px;
  display: inline;
}
.menu .heartChange {
  border: none;
  background-color: inherit;
  position: relative;
  font-size: 1.5rem;
  height: -moz-fit-content;
  height: fit-content;
  float: right;
}
.menu .fa-heart {
  display: inline;
  margin-right: 10px;
}
.menu .title {
  text-decoration: underline;
  text-decoration-color: #99E2D0;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}
.menu .item {
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  height: 40px;
  padding: 5%;
  padding-top: 4%;
  margin-bottom: 15px;
  box-shadow: rgb(171, 171, 171) 0px 2px 3px 0px;
  position: relative;
}
.menu .item h3 {
  margin: 0;
}
.menu .item .desc {
  margin: 0;
  margin-top: 5px;
  text-align: left;
  float: left;
}
.menu .item .price {
  margin: 0;
  margin-top: 5px;
  text-align: right;
  float: right;
}
.menu .item .tick {
  width: 10%;
  background-color: #99E2D0;
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 0%;
  border-radius: 0;
  transition: 1s ease;
}
.menu .item .tick i {
  scale: 200%;
}
.menu .item:hover .tick {
  width: 20%;
}
.menu .item:hover i {
  transition-property: transform;
  transition: 0.5s ease;
  transform: rotate(360deg);
}
.menu .order {
  margin-top: 40px;
  text-align: center;
}
.menu button {
  width: 50%;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 25px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
}

footer {
  background-color: #363636;
  text-align: left;
}
footer img {
  scale: 25%;
  filter: invert(1);
}
footer li {
  color: white;
  padding: 5px;
  margin-left: 20px;
  list-style: none;
}
footer a {
  text-decoration: none;
  color: white;
}
footer i {
  margin-right: 5px;
}/*# sourceMappingURL=main.css.map */