@import "./utils/variables";
@import "./utils/mixins";

@import "./pages/index";
@import "./pages/menu";

@import "./layout/footer";
@import "./layout/header";

@import "./components/buttons";
@import "./components/heart";
@import "./components/loader";

@import "./base/base";
@import "./base/typography";

$primary: #9356DC;
$secondary: #FF79DA;
$tertiray: #99E2D0;

$title: Shrikhand;

@font-face {
    font-family: Roboto;
    src: url("/Project\ 3\ Assesment/Roboto/Roboto-Light.ttf");
}

* {
    font-family: Roboto;
}

body{ 
    margin: 0px;
}

img {
    width: 100%;
    height: auto;
}
