footer {
    background-color: #363636;
    text-align: left;
    img{
        scale: 25%;
        filter: invert(1);
    }
    li{
        color: white;
        padding: 5px;
        margin-left: 20px;
        list-style: none;
    }
    a{
        text-decoration: none;
        color: white;
    }
}