header {
    align-items: center;
}

.location {
    p{
        text-align: center;
    }
}

.explore {
    text-align: center;
    h1{
        font-family: $title;
    }
    p{
        font-size: 15;
    }
}
