$primary: #9356DC;
$secondary: #FF79DA;
$tertiray: #99E2D0;

$bgcolour: rgb(231, 231, 231);

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20%{
        opacity: 0.05;
    }
    100% {
        opacity: 1;
    }
}